* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #659999; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f4791f,
    #659999
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.board {
  height: 85vh;
  width: 80vw;
  background-color: #1a0d52;
  border-radius: 10px;
}
.ball {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background-color: white;
  position: fixed;
  top: 45vh;
  left: 50vw;
}
.paddle {
  height: 120px;
  width: 15px;
  background-color: white;
  position: fixed;
  border-radius: 2px;
}
.left {
  top: 40vh;
  left: 12vw;
}
.right {
  top: 40vh;
  right: 12vw;
}
.fa-circle {
  color: #ffbe76;
  font-size: 32px;
}
.scoreboard {
  height: 60px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex: 1 1 1;
}
.separator {
  width: 4px;
  height: 70%;
  background-color: black;
}
